body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:1.2rem;
}

.fillin{
  text-align:center;
  width:8rem;
  margin:5px;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  border-radius:5px;
  background-color:lightblue;
  font-size:inherit;
  
}

.fillin:focus,
.fillin:hover
 {
 box-shadow:  0 0 10px  rgba(0,0,0,0.6); 
}

.correct
 {
  background:#1c4; 
  text-decoration: none;
  color:#444;
 }  

.wrong
 {
   color:#fff;
   background:#c14; 
   //text-decoration: line-through;
   //text-decoration-color:#555;
}
